@using Blog.Blazor.Services
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (isAuthenticated)
            {
                <a href="logout" target="_blank">Logout</a>
            }
            else
            {
                <a href="login" target="_blank">Login</a>
            }
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private Boolean isAuthenticated;
    [Inject] public LocalStorageService LocalStorage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = !String.IsNullOrEmpty(await LocalStorage.GetItemAsync("authToken"));
    }
}
