@page "/login"
@using Blog.Blazor.Extensions
@using Blog.Blazor.Services
@inject HttpClient Http
@inject NavigationManager Navigation


<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>User Name:</label>
        <InputText @bind-Value="loginModel.UserName" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" />
    </div>

    <button type="submit">Login</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    
    [Inject] public LocalStorageService LocalStorage { get; set; }
    [Inject] public AuthenticationStateProvider authStateProvider { get; set; }

    private async Task HandleLogin()
    {
        var response = await Http.PostAsJsonAsync("api/v1/Identity/Login", loginModel);
        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadFromJsonAsync<LoginResponseModel>();
            var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
            await customAuthStateProvider.UpdateAuthenticationStateAsync(token?.Token);
            Navigation.NavigateTo("/");
        }
        else
        {
            // Handle error
        }
    }

    public class LoginModel
    {
        public string UserName { get; set; }
        public string Password { get; set; }
    }
    
    public class LoginResponseModel
    {
        public string Token { get; set; }
    }
}